@import url(https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap);

* {
  border: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Metal Mania', cursive;
  background: linear-gradient(45deg, #063750 0, #093d53 36%, #0e5752 66%, #09746c 100%) center center fixed;
}

p {
  align-items: center;
  text-align: center;
  font-size: 50px;
  border: 1px black solid;
  width: 30rem;
  border-radius: 20px 20px 20px;
  color: black;
  text-shadow: 0px 0px 8px #e4e4e4;
}

#card {
  background-color: #1C2834;
  background-size: cover;
  padding-top: 1px;
  height: 540px;
  width: 35rem;
  border-radius: 20px 20px 20px;
  box-shadow: #071922 3px 9px 20px 0px;
  margin-top: 50px;
}

#shape {
  border: 1px black solid;
  width: 30rem;
  border-radius: 20px 20px 20px;
  height: 330px;
}
/*#1C2834*/
#head {
  /*background-color: #1C2834;*/
  background: linear-gradient(45deg, #063750 0, #093d53 36%, #0e5752 66%, #09746c 100%) center center fixed;
  width: 170px;
  height: 90px;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  display: flex;
  margin-bottom: 6px;
  margin-top: 9px;
}

.eye {
  width: 11px;
  height: 11px;
  margin-top: 55px;
  border-radius: 160px 160px 160px;
  background-color: #1C2834;
}

#body {
  width: 350px;
  height: 150px;
  border: 2px black;
  display: flex;
}

#bdy {
  width: 170px;
  background: linear-gradient(45deg, #063750 0, #093d53 36%, #0e5752 66%, #09746c 100%) center center fixed;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

#arml {
  width: 33px;
  border-radius: 160px 160px 160px;
  height: 100px;
  background: linear-gradient(45deg, #063750 0, #093d53 36%, #0e5752 66%, #09746c 100%) center center fixed;
  margin-right: 7px;
}

#armr {
  width: 33px;
  border-radius: 160px 160px 160px;
  height: 100px;
  background: linear-gradient(45deg, #063750 0, #093d53 36%, #0e5752 66%, #09746c 100%) center center fixed;
  margin-left: 7px;
}

#legl {
  width: 36px;
  height: 65px;
  margin-top: 148px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: linear-gradient(45deg, #063750 0, #093d53 36%, #0e5752 66%, #09746c 100%) center center fixed;
  margin-right: 15px;
}

#legr {
  width: 36px;
  height: 65px;
  margin-top: 148px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: linear-gradient(45deg, #063750 0, #093d53 36%, #0e5752 66%, #09746c 100%) center center fixed;
  margin-left: 15px;
}